.contact-us-form-wrap {
    background-color: $distant-horizon;
    padding: 100px 0 114px;

    @media (max-width: $xl) {
        padding: 80px 0;
    }

    @media (max-width: $sm) {
        padding: 50px 0;
    }

    .contact-us-form {
        max-width: 860px;
        margin: 67px auto 0;

        @media (max-width: $sm) {
            max-width: 100%;
            margin: 30px auto 0;
        }
    }

    .contact-title {
        font-size: 40px;

        @media (max-width: $sm) {
            font-size: 32px;
        }

        @media (max-width: $xs) {
            font-size: 26px;
        }
    }
}