.footer {
    background-color: $scarabaeus-sacer;
    padding: 143px 224px 61px;

    @media (max-width: $xl) {
        padding: 50px;
    }

    @media (max-width: $xs) {
        padding: 30px 0;
    }
}

.footer-top {
    padding-bottom: 100px;

    @media (max-width: $lg) {
        padding-bottom: 50px;
    }
}

.footer-logo {
    margin-bottom: 42px;

    @media (max-width: $xs) {
        margin-bottom: 15px;
    }
}

.empowering-work {
    hr {
        width: 64px;
        border-color: $white;
        border-width: 4px;
        opacity: 1;
        margin: 16px 0 36px;
    }
}

.quick-links-wrap {
    padding: 0 110px;

    @media (max-width: $large-desktop-screen) {
        padding: 0 40px;
    }

    @media (max-width: $medium-desktop-screen) {
        padding: 0 20px;
    }

    @media (max-width: $xs) {
        padding: 15px 0;
    }
}

.quick-links {
    li {
        padding-bottom: 15px;

        a {
            text-decoration: none;
            color: $white;

            &:hover {
                color: $primary;
            }

            &.active {
                color: $primary;
            }
        }
    }

    +.quick-links {
        margin-left: 80px;
    }
}

.contact-num {
    &:hover {
        color: $primary  !important;
    }
}

.socail-media-links {
    .icon {
        font-size: 24px;
        margin-right: 12px;

        &:hover {
            &::before {
                color: $primary;
            }
        }
    }
}

.footer-bottom {
    border-top: 1px solid $white;
    padding-top: 53px;

    @media (max-width: $xs) {
        padding-top: 30px;
    }
}

.back-top-top {
    @media (max-width: $xs) {
        margin-top: 15px;
    }

    .icon-back-to-top {
        font-size: 22px;
    }
}