@media all and (min-width : $xl) {
    .header {
        padding: 46px 51px;
        position: relative;
        z-index: 99;
        transition: height .5s ease-in;

        &.fixed {
            background-color: $white;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            right: 0;
            padding: 20px 51px;
            box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.06);
        }

        .navbar-wrap {
            padding-left: 80px;
            align-items: center;
            display: flex;

            .navbar-links {
                padding-left: 157px;
            }

            @media (min-width: $xl) {

                .toggle,
                input[type="checkbox"] {
                    display: none;
                }
            }

            ul {
                float: left;
                padding: 0;
                margin: 0;
                list-style: none;
                position: relative;

                ul {
                    display: none;
                    position: absolute;
                    top: 36px;
                    border-radius: 4px 0px 0px 4px;
                    height: 88px;
                    max-height: 88px;

                    li {
                        width: 97px;
                        float: none;
                        display: list-item;
                        position: relative;
                        background-color: $white;
                        box-shadow: -1px 6px 18px 15px rgba(0, 0, 0, 0.06);

                        a {
                            font-size: 13px;
                            padding: 5px;
                        }
                    }

                    ul {
                        li {
                            position: relative;
                            top: -36px;
                            left: 97px;
                            width: 180px;
                            background: linear-gradient(180deg, #FFF 0%, #D9D9D9 100%);

                            a {
                                font-size: 10px;
                                color: $black;
                            }
                        }
                    }
                }

                li {
                    margin: 0px;
                    display: inline-block;
                    color: $black;

                    a {
                        color: $black;

                        &:hover {
                            color: $primary;
                        }
                    }

                    ul {

                        &:hover {
                            >ul {
                                display: inherit;
                            }
                        }
                    }

                    &:hover {
                        >ul {
                            display: inherit;
                        }
                    }

                }

                a {
                    display: block;
                    color: $black;
                    font-size: $font-16;
                    font-weight: $font-weight-semibold;
                    text-decoration: none;
                    padding: 6px 18px;
                }
            }
        }
    }
}


@media all and (max-width : $xl) {
    .header {
        padding: 15px 0;

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 99999;
            background-color: $white;
            box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.06);
        }

        .navbar-wrap {
            display: flex;
            justify-content: space-between;
        }

        .toggle {
            display: block;
            color: $black;
            font-size: 22px;
            font-weight: bold;
            text-decoration: none;
            border: none;
        }

        .menu {
            position: absolute;
            left: 0;
            right: 0;
            padding: 15px;
            margin: 0;
            top: 65px;
        }

        input[type="checkbox"] {
            display: none;
        }

        li {

            a,
            .toggle {
                display: block;
                color: $black;
                font-size: $font-16;
                font-weight: $font-weight-semibold;
                text-decoration: none;
                padding: 10px 0;

                .icon {
                    padding-left: 7px;
                    font-size: 14px;
                }
            }

            .toggle {
                + {
                    a {
                        display: none;
                    }
                }
            }
        }
    }

    nav {
        margin: 0;
    }

    .toggle+a,
    .menu {
        display: none;
    }



    #drop-2,
    #drop-3 {
        position: absolute;
        left: 0;
        right: 0;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    // nav a:hover,
    // nav ul ul ul a {
    //     background-color: #000000;
    // }

    // nav ul li ul li .toggle,
    // nav ul ul a {
    //     background-color: #212121;
    // }

    nav ul ul {
        display: none;
        float: none;
        position: static;
        color: #ffffff;
    }

    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;

    }

    [id^=drop]:checked+ul {
        display: block;
        left: 0;
        right: 0;
        z-index: 999;
        background: linear-gradient(279deg, #F48120 34.83%, #FFB94B 80.74%);
        border-radius: 0 0 12px 12px;
    }
}

@media all and (max-width :$sm) {
    .header {
        .menu {
            overflow: scroll;
            height: 100vh;
        }
    }
}

@media all and (max-width :$xs) {
    .header {
        .menu {
            height: auto;
        }
    }
}