.inner-banner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 396px;
    position: relative;
    border-radius: 0 0 0 166px;

    @media (max-width: $lg) {
        background-position: center;
        border-radius: 0;
    }

    @media (max-width: $sm) {
        height: calc(100vh - 67px);
    }

    @media (max-width: $xs) {
        height: 35vh;
    }

    &::before {
        content: "";
        position: absolute;
        background: linear-gradient(180deg, rgba(244, 172, 32, 0.65) 0%, rgba(255, 161, 75, 0.65) 100%);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0px 0px 0px 166px;

        @media (max-width: $lg) {
            border-radius: 0;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 275px;
        height: 201px;
        background-color: #FFB94B;
        border-radius: 335px 0 0 0;
        right: 0;
        bottom: 0;

        // background-image: url(./assets/images/inner-banner-shape.svg);
        @media (max-width: $sm) {
            display: none;
        }
    }
}

.inner-banner-caption {
    @media (min-width: $xl) {
        font-size: 64px;
    }
}

.inner-banner-info {
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: none;
    padding-left: 300px;
    padding-right: 50px;

    @media (max-width: $xl) {
        padding-left: 30px;
    }

    @media (max-width: $xs) {
        top: 15%;
        padding-left: 20px;
    }
}

.breadcrumbs {
    margin: 10px 0;
    font-size: 16px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline;
            margin-right: 10px;
            color: $white;

            .icon-play-breadcum {
                font-size: 10px;
                margin-right: 10px;
            }
        }
    }

    a {
        text-decoration: none;
        color: $white;
        transition: color 0.3s ease;

        &:not(:last-child)::after {
            content: " > ";
            margin-left: 10px;
        }

        &:hover {
            color: $black;
        }
    }

    .border-white {
        width: 32px;
        height: 2px;
        background-color: $white;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
}