.about-us-wrap {
    padding: 180px 0 190px;

    @media (max-width: $lg) {
        padding: 50px 0;
    }

    .achievement-grid {
        @media (max-width: $small-desktop-screen) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.mission {
    padding: 120px 0;

    @media (max-width: $lg) {
        padding: 80px 0;
    }

    @media (max-width: $sm) {
        padding: 50px 0;
    }

    .mission-ball {
        @media (max-width: $xs) {
            display: none;
        }
    }
}

.about-team {
    background-color: $distant-horizon;
    padding: 82px 0 113px;
    position: relative;
    background-image: url(/assets/images/team-bg-dots.svg);
    background-repeat: no-repeat;

    @media (max-width: $md) {
        padding: 50px 0;
    }
}

.about-team-slider {
    padding-top: 50px;

    .card-info-wrap {
        padding-top: 20px;

        .font-30 {
            @media (max-width: $small-desktop-screen) {
                font-size: 26px;
            }
        }
    }

    .card {
        border-radius: 23px;
        padding: 21px 22px 65px;
        max-width: 293px;

        @media (max-width: $small-desktop-screen) {
            max-width: 255px;
        }

        @media (max-width: $xl) {
            max-width: 100%;
        }
    }

    .slick-slide {
        @media (max-width: $xl) {
            margin: 0 5px;
        }
    }
}

.team-dots-pattern {
    position: absolute;
    left: 42px;
    top: -100px;

    @media (max-width: $lg) {
        display: none;
    }

    img {
        width: 196px;
    }
}

.core-values {
    padding: 80px 0 69px;

    @media (max-width: $sm) {
        padding: 50px 0 35px;
    }

    .core-values-box {
        padding: 27px 29px;
        margin-bottom: 74px;
        border-radius: 20px;
        background: linear-gradient(96deg, #F48120 0%, #FFB94B 100%);
        max-width: 345px;
        height: 108px;

        @media (max-width: $lg) {
            margin-bottom: 30px;
        }

        @media (max-width: $sm) {
            padding: 15px;
        }
    }
}

.awards {
    background-image: url(/assets/images/awards-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.awards-img-wrap {
    padding-top: 74px;

    @media (max-width: $sm) {
        padding-top: 15px;
    }
}