.employee-testimonial-wrap {
    padding-top: 156px;

    @media (max-width: $xl) {
        padding-top: 80px;
    }

    @media (max-width: $xs) {
        padding-top: 50px;
    }
}

.employee-detail-card {
    .card {
        max-width: 414px;

        @media (max-width:$small-desktop-screen) {
            max-width: 350px;
        }

        @media (max-width:$xl) {
            max-width: 300px;
        }

        @media (max-width:$sm) {
            max-width: 250px;
        }

        @media (max-width:$xs) {
            max-width: 100%;
        }

        .card-info {
            padding-top: 20px;
            min-height: 124px;

            @media (max-width:$xs) {
                padding: 20px 20px;
            }
        }

        .member-description {
            max-height: 192px;
            overflow-y: scroll;
            padding-right: 15px;
        }
    }
}

.employee-testimonial-slider {
    padding: 67px 0 102px;

    @media (max-width:$sm) {
        padding: 50px 0;
    }
}