.contact-us-wrap {
    padding: 160px 0 60px;

    @media (max-width: $xl) {
        padding: 80px 0 60px;
    }

    @media (max-width: $sm) {
        padding: 50px 0 60px;
    }
}

.contact-info-bottom {
    padding-top: 107px;

    @media (max-width: $sm) {
        padding-top: 50px;
    }

    .section-title {
        padding-bottom: 40px;
    }

    .contact-list {
        li {
            position: relative;
            padding-left: 60px;
            padding-bottom: 60px;

            a {
                color: $black;

                &:hover {
                    color: $primary;
                }
            }

            .icon {
                position: absolute;
                left: 0;
                font-size: 46px;
                top: -11px;
            }
        }
    }

    .social-list {
        padding-left: 38px;

        @media (max-width: $xl) {
            padding: 15px 0 0;
        }

        @media (max-width: $lg) {
            padding: 15px 0 50px;
        }

        li {
            width: 54px;
            height: 54px;
            background-color: $primary;
            border-radius: 100%;
            margin-right: 20px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 26px;
                height: 54px;
            }

            &:hover {
                background-color: $black;
            }
        }
    }
}

.contact-map-iframe {
    border-radius: 12px;
    overflow: hidden;
}