// Home banner
.home-banner {
    .video {
        width: 100%;

        #ban_video {
            width: 100%;
            height: calc(100vh - 129px);
            object-fit: cover;
        }

        .video-controls {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}

.player-controls {

    .play-bt,
    .pause-bt {
        width: 194px;
        height: 194px;
        border: 3px solid $white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $medium-desktop-screen) {
            width: 154px;
            height: 154px;
        }

        @media (max-width: $small-desktop-screen) {
            width: 124px;
            height: 124px;
        }

        @media (max-width: $md) {
            width: 94px;
            height: 94px;
        }

        .icon {
            font-size: 100px;

            @media (max-width: $medium-desktop-screen) {
                font-size: 70px;
            }

            @media (max-width: $small-desktop-screen) {
                font-size: 55px;
            }

            @media (max-width: $md) {
                font-size: 36px;
            }

            &::before {
                color: $white;

            }
        }
    }
}

// Think HR
.think-hr-wrap {
    position: relative;
    margin-right: 257px;
    margin-top: 89px;
    padding: 125px 0 201px 152px;
    background-image: url(/assets/images/think-hr-bg-orange.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 210px 0 0;

    @media (max-width: $xl) {
        margin-right: 15px;
        padding: 50px;
        margin-top: 50px;
    }

    @media (max-width: $xs) {
        padding: 15px;
        margin: 30px 15px;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(/assets/images/think-hr-bg-gray.svg);
        background-repeat: no-repeat;
        width: 813px;
        height: 845px;
        top: 0;
        right: 0;
        border-radius: 0 210px 0 0;

        @media (max-width: $large-desktop-screen) {
            border-radius: 0 170px 0 0;
        }

        @media (max-width: $xs) {
            border-radius: 0;
            width: 100%;
        }
    }

    .think-caption {
        position: relative;
        z-index: 9;
        color: $white;
        padding-right: 25px;
    }
}

.think-hr-slider {
    padding-top: 70px;
    margin-right: 114px;
    z-index: 9;
    border-radius: 210px;

    @media (max-width: $xl) {
        margin-right: 0;
    }

    @media (max-width: $xs) {
        padding-top: 30px;
    }

    .card {
        padding: 40px 38px 32px;
        border-radius: 24px;
        background-color: $white;
        border: 0;
        max-width: 417px;

        @media (max-width: $medium-desktop-screen) {
            padding: 30px 18px 22px;
        }

        @media (max-width: $sm) {
            max-width: 100%;
        }

        img {
            width: 100%;
        }

        hr {
            border-color: $primary;
            border-width: 3px;
            opacity: 1;
            width: 161px;
        }

        .card-title {
            font-size: 22px;
            color: $black;
            padding-top: 35px;
            font-weight: $font-weight-semibold;

            a {
                font-size: 22px;
                color: $black;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }
            }
        }

        .card-info {
            min-height: 93px;
            max-height: 93px;
            overflow: hidden;
            text-overflow: ellipsis;

        }
    }

    .slick-slide {
        margin-right: 43px;

        @media (max-width: $medium-desktop-screen) {
            margin-right: 20px;
        }

        @media (max-width: $xs) {
            margin: 0 5px;
        }
    }

    @media (max-width: $lg) {

        .slick-prev,
        .slick-next {
            display: none !important;
        }
    }
}

// About Us
.about-us {
    padding: 140px 257px 140px 152px;

    @media (max-width: $xl) {
        padding: 50px;
    }

    @media (max-width: $xs) {
        padding: 30px 15px;
    }

    .about-sub-title {
        padding: 25px 0;

        @media (max-width: $xs) {
            padding: 5px 0;
        }
    }

    .btn-link {
        margin-top: 20px;
    }

    .about-us-img-wrap {
        border-radius: 12px;
        overflow: hidden;
    }
}

// Company Achievement
.company-achievement {
    position: relative;
    background-color: $distant-horizon;
    padding: 72px 0 215px;
    margin-bottom: 110px;

    @media (max-width: $xl) {
        padding: 72px 0 300px;
    }

    @media (max-width: $lg) {
        padding: 72px 0 230px;
    }

    @media (max-width: $sm) {
        padding: 50px 0 200px;
    }

    @media (max-width: $xs) {
        padding: 50px 0 130px;
    }

    .rounded-circle {
        position: absolute;

        @media (max-width: $sm) {
            display: none;
        }
    }

    .circle-orange-sm {
        top: 44px;
        left: 158px;
    }

    .circle-sacer-md {
        top: 51px;
        right: 257px;
    }

    .circle-sacer-sm {
        top: 228px;
        left: 80px;
    }

    .circle-orange-md {
        top: 287px;
        right: 109px;
    }

    .circle-orange-xl {
        top: 340px;
        left: 426px;

        @media (max-width: $large-desktop-screen) {
            left: 206px;
        }
    }
}

.achievement-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 754px;
    margin: 0 auto;
    grid-gap: 60px;

    @media (max-width: $sm) {
        margin: 0 15px;
    }

    @media (max-width: $xs) {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

.digit-wrap {
    text-align: center;

    p {
        margin: 0;
        font-size: 18px;
    }

    .digit {
        font-size: 80px;
        font-weight: $font-weight-extrabold;
        color: $primary;
        margin: 0;

        @media (max-width: $xl) {
            font-size: 50px;
        }

        @media (max-width: $lg) {
            font-size: 42px;
        }

        @media (max-width: $xs) {
            font-size: 36px;
        }
    }
}

.get-in-touch {
    max-width: 1285px;
    margin: 0 auto;
    background-color: $primary;
    padding: 41px 183px 41px 146px;
    border-radius: 131px 131px 131px 0;
    position: absolute;
    right: 0;
    bottom: -110px;
    left: 0;

    @media (max-width: $xl) {
        padding: 50px 183px 50px 50px;
        max-width: 100%;
        margin: 0 15px;
        border-radius: 131px 191px 191px 0;
    }

    @media (max-width: $lg) {
        padding: 50px;
        border-radius: 12px;
    }

    @media (max-width: $xs) {
        padding: 30px;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: $scarabaeus-sacer;
        width: 430px;
        top: 0;
        right: -6px;
        bottom: 0;
        border-radius: 186px 186px 180px 0px;
        z-index: 1;

        @media (max-width: $lg) {
            display: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        background-color: $mango-latte;
        width: 224px;
        height: 224px;
        top: 20px;
        right: 320px;
        bottom: 0;
        border-radius: 100%;

        @media (max-width: $lg) {
            display: none;
        }
    }

    .get-in-touch-title {
        font-size: 52px;
        color: $white;
        font-weight: $font-weight-bold;
        padding-right: 70px;

        @media (max-width: $xl) {
            font-size: 40px;
        }

        @media (max-width: $lg) {
            padding-right: 15px;
            font-size: 32px;
        }

        @media (max-width: $xs) {
            font-size: 24px;
        }
    }

    .btn {
        min-width: 293px;
        max-width: 293px;
        padding: 27px 12px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
        border-color: $white;

        @media (max-width: $lg) {
            min-width: 250px;
            padding: 20px 12px;
        }

        @media (max-width: $xs) {
            padding: 16px 12px;
            font-size: 14px;
        }

        .icon {
            font-size: 24px;
            padding-left: 8px;

            @media (max-width: $xs) {
                font-size: 18px;
            }

            &::before {
                color: $primary;
            }
        }

        &:hover {
            background-color: $primary  !important;
            color: $white  !important;
            border-color: $primary  !important;

            .icon {
                &::before {
                    color: $white;
                }
            }
        }
    }
}

.rounded-circle {
    display: inline-block;

    &.circle-orange {
        background-color: $primary;

        &.circle-orange-xl {
            width: 58px;
            height: 58px;
        }

        &.circle-orange-md {
            width: 48px;
            height: 48px;
        }

        &.circle-orange-sm {
            width: 28px;
            height: 28px;
        }


    }

    &.circle-sacer {
        background-color: $scarabaeus-sacer;

        &.circle-sacer-sm {
            width: 20px;
            height: 20px;
        }

        &.circle-sacer-md {
            width: 26px;
            height: 26px;
        }
    }
}

// Technology Partners
.technology-partners {
    padding: 57px 0 178px 0;
    margin: 0 155px;

    @media (max-width: $xl) {
        margin: 0 50px;
        padding: 57px 0 100px 0;
    }

    .technology-partners-slider {
        margin-top: 26px;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    .slick-slide {
        margin: 0 68px;
    }
}

// Testimonial Slider
.client-testimonial {
    position: relative;
    padding: 51px 0 42px 100px;

    @media (max-width: $xl) {
        padding: 51px 0 42px 15px;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: $scarabaeus-sacer;
        width: 382px;
        border-radius: 382px 0 0 0;
        top: 185px;
        bottom: 0;
        right: 0;

        @media (max-width: $xs) {
            display: none;
        }
    }

    &::before {
        content: "";
        position: absolute;
        background: linear-gradient(279deg, #F48120 34.83%, #FFB94B 80.74%);
        top: 0;
        right: 0;
        bottom: 0;
        left: 440px;
        border-radius: 210px 0px 0px 0px;

        @media (max-width: $medium-desktop-screen) {
            left: 300px;
        }

        @media (max-width: $lg) {
            left: 160px;
        }

        @media (max-width: $sm) {
            left: 0;
        }
    }

    .player-controls {

        .play-bt,
        .pause-bt {
            width: 161px;
            height: 161px;

            @media (max-width: $large-desktop-screen) {
                width: 130px;
                height: 130px;
            }

            @media (max-width: $small-desktop-screen) {
                width: 90px;
                height: 90px;
            }

            @media (max-width: $xs) {
                width: 70px;
                height: 70px;
            }

            .icon {
                font-size: 80px;

                @media (max-width: $large-desktop-screen) {
                    font-size: 56px;
                }

                @media (max-width: $small-desktop-screen) {
                    font-size: 36px;
                }

                @media (max-width: $xs) {
                    font-size: 28px;
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .slick-dots {
        right: 30%;
        text-align: end;

        @media (max-width: $xs) {
            right: 0;
            text-align: center;
            bottom: -50px;
        }
    }
}

.testimonial-info-wrap {
    padding-left: 67px;

    @media (max-width: $xl) {
        padding-left: 15px;
    }
}

.testimonial-info {
    padding-top: 35px;
}

.testimonial-author-img {
    border-radius: 48px;
    overflow: hidden;
    margin-left: 75px;
    max-width: 338px;

    @media (max-width: $xl) {
        margin-top: 30px;
        margin-left: 0;
    }
}

.testimonail-video {
    border-radius: 12px;
}

.testimonial-quote {
    font-size: 42px;
    font-weight: $font-weight-semibold;

    @media (max-width: $xl) {
        font-size: 24px;
    }
}

.client-testimonial-slider {
    z-index: 9;
}

// Blogs
.blogs-wrap {
    padding: 107px 0 0;
    margin: 0 170px 0 190px;

    @media (max-width: $xl) {
        margin: 0 15px;
    }

    @media (max-width: $sm) {
        padding: 50px 0 0;
    }

    .section-sub-title {
        padding-bottom: 84px;

        @media (max-width: $xs) {
            padding-bottom: 30px;
        }
    }
}

.blogs-slider {
    .card {
        border-radius: 12px;
        box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.06);
        background-color: $white;
        max-width: 370px;

        @media (max-width: $large-desktop-screen) {
            max-width: 290px;
        }

        @media (max-width: $medium-desktop-screen) {
            max-width: 250px;
        }

        @media (max-width: $medium-desktop-screen) {
            max-width: 230px;
        }

        @media (max-width: $sm) {
            max-width: 100%;
        }

        .card-info-wrap {
            padding: 28px 18px 83px 18px;

            .card-info {
                min-height: 48px;
                max-height: 48px;
                overflow: hidden;
            }
        }
    }

    .slick-slide {
        @media (max-width: $sm) {
            margin: 0 10px;
        }
    }

    .slick-list {
        padding: 0 8px 104px;

        @media (max-width: $xs) {
            padding: 0 0 50px;
        }
    }
}

.view-more-with-pattern {
    border-radius: 19px;
    background: linear-gradient(279deg, #F48120 34.83%, #FFB94B 80.74%);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.21);
    flex-direction: column;
    display: flex;
    padding-bottom: 52px;
    height: calc(100% - 104px);
    overflow: hidden;

    @media (max-width: $sm) {
        display: none;
    }

    img {
        object-fit: scale-down;
    }

    .btn-link {
        font-size: 26px;

        @media (max-width: $medium-desktop-screen) {
            font-size: 20px;
        }

        .icon {
            font-size: 20px;

            @media (max-width: $medium-desktop-screen) {
                font-size: 16px;
            }
        }
    }
}