.mentors-wrap {
    padding: 164px 0 0;

    @media (max-width: $xl) {
        padding: 80px 0 0;
    }

    @media (max-width: $sm) {
        padding: 50px 0 0;
    }
}

.mentors-list {
    padding: 75px 0 90px;

    @media (max-width: $sm) {
        padding: 50px 0;
    }
}

.mentors-detail-card {
    background-image: url(/assets/images/mentors-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .card-info-wrap {
        padding-top: 15px;
    }

    .card {
        border-radius: 23px;
        border: 0.5px solid #000;
        padding: 21px 23px;

        .two-line-ellipsis {
            min-height: 80px;

            @media (max-width: $xs) {
                min-height: auto;
                margin: 0;
            }
        }

        .btn-link {
            font-size: 16px;
        }

        .font-30 {
            @media (max-width: $small-desktop-screen) {
                font-size: 26px;
            }

            @media (max-width: $sm) {
                font-size: 24px;
            }

            @media (max-width: $xs) {
                font-size: 20px;
            }
        }
    }
}