.service-detail-wrap {
    padding: 164px 0 0;

    @media (max-width: $xl) {
        padding: 80px 0 0;
    }

    @media (max-width: $sm) {
        padding: 50px 0 0;
    }
}

.inner-info {
    max-width: 600px;
}

.inner-info-pattern {
    width: 196px;
    height: 196px;
    flex-shrink: 0;

    @media (max-width: $sm) {
        display: none;
    }
}

.service-detail-card {
    padding: 145px 0 231px;
    background-image: url(/assets/images/service-detail-bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $xl) {
        padding: 80px 0 120px;
    }

    @media (max-width: $sm) {
        padding: 80px 0;
    }

    @media (max-width: $xs) {
        padding: 50px 0;
        background-image: none;
    }

    .card {
        box-shadow: 0px 7px 22px 7px rgba(0, 0, 0, 0.05);
        border-radius: 21px;
        padding: 30px;
        height: 100%;

        .card-caption {
            font-size: 22px;

            a {
                &:hover {
                    color: $primary  !important;
                }
            }
        }

        .card-info {
            min-height: 145px;

            @media (max-width: $xl) {
                min-height: auto;
            }
        }
    }
}