.technology-wrap {
    padding-top: 152px;
    position: relative;

    @media (max-width: $xl) {
        padding-top: 80px;
    }

    @media (max-width: $xs) {
        padding-top: 50px;
    }

    &::after {
        position: absolute;
        content: "";
        background-image: url(/assets/images/technology/ellipse.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 128px;
        height: 128px;
        top: 40%;
        right: 135px;

        @media (max-width: $xl) {
            display: none;
        }
    }

    .welcome-info {
        padding-bottom: 72px;

        @media (max-width: $sm) {
            padding-bottom: 30px;
        }
    }

    .section-title {
        padding-bottom: 65px;

        @media (max-width: $sm) {
            padding-bottom: 15px;
        }
    }

    .benefits-title {
        @media (max-width: $sm) {
            font-size: 18px;
        }
    }

    .benefits-list {
        img {
            @media (max-width: $xs) {
                max-width: 75px;
            }
        }
    }

    .benefits-technology-partners {
        padding: 57px 0 111px 0;

        @media (max-width: $xl) {
            padding: 57px 0 100px 0;
        }

        @media (max-width: $sm) {
            padding: 50px 0;
        }

        .slick-track {
            display: flex;
            align-items: center;
        }

        .slick-slide {
            margin: 0 68px;
        }
    }
}