.why-us-wrap {
    padding-top: 152px;
    position: relative;

    @media (max-width: $xl) {
        padding-top: 80px;
    }

    @media (max-width: $xs) {
        padding-top: 50px;
    }

    &::after {
        position: absolute;
        content: "";
        background-image: url(/assets/images/technology/ellipse.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 128px;
        height: 128px;
        top: 40%;
        right: 135px;

        @media (max-width: $xl) {
            display: none;
        }
    }

    &::before {
        position: absolute;
        content: "";
        background-image: url(/assets/images/why-us/small-ellipse.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 48px;
        height: 48px;
        top: 35%;
        left: 2%;

        @media (max-width: $xl) {
            display: none;
        }
    }

    .welcome-info {
        padding-bottom: 72px;

        @media (max-width: $sm) {
            padding-bottom: 30px;
        }
    }

    .section-title {
        padding-bottom: 65px;

        @media (max-width: $sm) {
            padding-bottom: 15px;
        }
    }

    .benefits-title {
        @media (max-width: $sm) {
            font-size: 18px;
        }
    }

    .values-list {
        .values-box {
            border-bottom: 1px dashed #6D6E71;
            padding-bottom: 16px;
            margin-bottom: 46px;

            &:last-child {
                border: 0;
            }

            .values-img {
                margin-right: 47px;

                @media (max-width: $xs) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}