.inner-page {
    @media (min-width: $medium-desktop-screen) {
        .container {
            max-width: 1400px;
        }
    }
}

.section-title {
    font-size: 45px;
    font-weight: $font-weight-semibold;
    z-index: 1;
    position: relative;

    @media (max-width: $medium-desktop-screen) {
        font-size: 42px;
    }

    @media (max-width:$lg) {
        font-size: 36px;
    }

    @media (max-width:$xs) {
        font-size: 28px;
    }

    .title-border {
        width: 100px;
        border-bottom: 7px solid #F15A29;
    }
}

.section-sub-title {
    font-size: 40px;
    font-weight: $font-weight-extrabold;

    @media (max-width: $lg) {
        font-size: 36px;
    }

    @media (max-width: $xs) {
        font-size: 26px;
    }
}

.btn-link {
    color: $black  !important;
    min-width: auto;

    span {
        border-bottom: 1px solid $black;
    }

    .icon {
        font-size: 14px;
        padding-left: 2px;

        &::before {
            color: $black  !important;
        }
    }

    &:hover {
        color: $primary  !important;

        span {
            border-color: $primary  !important;
        }

        .icon {
            &::before {
                color: $primary  !important;
            }
        }
    }

    &.btn-link-white {
        color: $white  !important;

        span {
            border-bottom: 1px solid $white;
        }

        .icon {
            &::before {
                color: $white  !important;
            }
        }

        &:hover {
            color: $black  !important;

            span {
                border-color: $black  !important;
            }

            .icon {
                &::before {
                    color: $black  !important;
                }
            }
        }
    }
}

.slick-prev {
    z-index: 1;

    @media (max-width: $lg) {
        left: -10px;
    }

    &::before {
        color: $primary;
        opacity: 1;
        content: "\e905";
        font-family: 'icomoon';
    }
}

.slick-next {
    z-index: 1;

    @media (max-width: $lg) {
        right: -10px;
    }

    &::before {
        color: $primary;
        opacity: 1;
        content: "\e907";
        font-family: 'icomoon';
    }
}

.slick-dots {
    li {
        width: 10px;
        height: 10px;

        button {
            background-color: $white;
            height: 10px;
            width: 10px;
            line-height: 0px;
            font-size: 0;
            padding: 0;
            border-radius: 100%;

            &::before {
                display: none;
            }
        }
    }

    .slick-active {
        height: 20px;
        width: 20px;

        button {
            height: 20px;
            width: 20px;
        }
    }
}

.common-card {
    .card {
        border: 0;

        hr {
            border-color: $primary;
            border-width: 3px;
            opacity: 1;
            width: 161px;
        }
    }
}

.mw-sm-100 {
    @media (max-width: $sm) {
        max-width: 100%;
    }
}

.two-line-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    max-height: 80px;
    margin-bottom: 15px;
}

.five-line-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    max-height: 145px;
    margin-bottom: 15px;
}

// Form
.form-control {
    border-radius: 19px !important;
    font-size: 16px;
    margin-bottom: 20px;

    &:focus {
        box-shadow: none;
    }
}

.radius-8 {
    border-radius: 8px;
}

.radius-60 {
    border-radius: 60px;
}