@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?92lpwz');
    src: url('/assets/fonts/icomoon.eot');
    src: url('/assets/fonts/icomoon.eot?92lpwz#iefix') format('embedded-opentype'),
        url('/assets/fonts/icomoon.ttf?92lpwz') format('truetype'),
        url('/assets/fonts/icomoon.woff?92lpwz') format('woff'),
        url('/assets/fonts/icomoon.svg?92lpwz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-location-pin .path1:before {
    content: "\e90f";
    color: rgb(244, 129, 32);
}

.icon-location-pin .path2:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(244, 129, 32);
}

.icon-location-pin .path3:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(244, 129, 32);
}

.icon-location-pin .path4:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mail:before {
    content: "\e913";
    color: #f48120;
}

.icon-mobile:before {
    content: "\e914";
    color: #f48120;
}

.icon-play-breadcum:before {
    content: "\e915";
    color: #fff;
}

.icon-minus:before {
    content: "\e90d";
    color: #080341;
}

.icon-plus:before {
    content: "\e90e";
}

.icon-menu-icon:before {
    content: "\e90c";
}

.icon-testimonial-down:before {
    content: "\e90a";
    color: #fff;
}

.icon-testimonial-up:before {
    content: "\e90b";
    color: #fff;
}

.icon-back-to-top:before {
    content: "\e901";
    color: #fff;
}

.icon-facebook:before {
    content: "\e902";
    color: #fff;
}

.icon-instagram:before {
    content: "\e904";
    color: #fff;
}

.icon-left-arrow:before {
    content: "\e905";
    color: #f48120;
}

.icon-linkdin:before {
    content: "\e906";
    color: #fff;
}

.icon-right-arrow:before {
    content: "\e907";
    color: #f48120;
}

.icon-twitter:before {
    content: "\e908";
    color: #fff;
}

.icon-up-arrow:before {
    content: "\e909";
}

.icon-pause:before {
    content: "\e900";
    color: #1c274c;
}

.icon-play:before {
    content: "\e903";
    color: #fff;
}