// Color
$primary: #F38020;
$distant-horizon: #F1F6F9;
$white: #ffffff;
$scarabaeus-sacer: #414141;
$mango-latte: #FFB94B;

// font-size
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-25: 25px;
$font-30: 30px;
$font-12: 12px;

// font-weight
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// Button
$btn-padding-y: 18px;
$btn-padding-x: 19px;
$btn-font-size: 14px;
$btn-link-color: $white;
$btn-border-radius: 54px;
$btn-font-weight: $font-weight-bold;
$btn-link-color: $white;

// Form
$input-btn-padding-y: 16px;
$input-btn-padding-x: 18px;
$input-btn-font-size: 12px;
$input-btn-border-width: 2px;

// Media 
$xs: 576px;
$sm: 767px;
$md: 768px;
$lg: 991px;
$xl: 1200px;
$small-desktop-screen: 1390px;
$medium-desktop-screen: 1490px;
$large-desktop-screen: 1750px;

.btn {
    color: $white  !important;
    text-transform: uppercase;
    min-width: 165px;

    .icon {
        padding-left: 5px;

        &::before {
            color: $white;
        }
    }
}

// Custom class
.font-12 {
    font-size: $font-12;
}

.font-16 {
    font-size: $font-16;
}

.font-25 {
    font-size: $font-25;

    @media (max-width: $small-desktop-screen) {
        font-size: $font-20;
    }

    @media (max-width:$lg) {
        font-size: $font-18;
    }
}

.font-30 {
    font-size: $font-30;

    @media (max-width:$xl) {
        font-size: $font-24;
    }

    @media (max-width:$sm) {
        font-size: $font-22;
    }

    @media (max-width:$sm) {
        font-size: $font-18;
    }
}

.line-height-lg {
    line-height: 1.5;
}